.pointy-top .hexagon-clip {
  width: calc(var(--hex-size) / 1.1547);
  height: calc(var(--hex-size));
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.flat-top .hexagon-clip {
  width: calc(var(--hex-size));
  height: calc(var(--hex-size) / 1.1547);
  clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
